<tr>
    <td class="book-info-row id">{{bookid}}</td>
    <td class="book-info-row name">{{bookname}}</td>
    <td class="book-info-row type">{{booktype}}</td>
    <td class="book-info-row author">{{bookauthor}}</td>
    <td class="book-info-row edition">{{bookedition}}</td>
    <td class="book-info-row date">{{bookdate}}</td>
    <td class="book-info-row press">{{bookpress}}</td>
    <td class="book-info-row isbn">{{bookisbn}}</td>
    <td class="book-info-row price">${{bookprice}}</td>
</tr>
