<tr>
    <td class="repo-info-row id">{{repoid}}</td>
    <td class="repo-info-row floor">{{repofloor}}</td>
    <td class="repo-info-row guard">{{repoguard}}</td>
    <td class="book-info-row id">{{bookid}}</td>
    <td class="book-info-row name">{{bookname}}</td>
    <td class="book-info-row type">{{booktype}}</td>
    <td class="repo-info-row quantity">{{bookquantity}}</td>
</tr>
