<tr>
    <td class="vend-info-header id">{{vendorid}}</td>
    <td class="vend-info-header name">{{vendorname}}</td>
    <td class="vend-info-header address">{{vendoraddress}}</td>
    <td class="vend-info-header phone">{{vendorphone}}</td>
    <td class="vend-info-header email">{{vendoremail}}</td>
    <td class="book-info-header type">{{booktype}}</td>
</tr>
