<tr>
    <td class="buy-info-row id">{{buyid}}</td>
    <td class="buy-info-row name">{{buyname}}</td>
    <td class="buy-info-row type">{{buytype}}</td>
    <td class="buy-info-row date">{{buydate}}</td>
    <td class="book-info-row phone">{{bookid}}</td>
    <td class="book-info-row email">{{bookname}}</td>
    <td class="book-info-row type">{{booktype}}</td>
    <td class="book-info-row isbn">{{bookisbn}}</td>
    <td class="book-info-row price">{{bookprice}}</td>
</tr>
