<tr>
    <td class="vend-info-row select"><input type="checkbox" name="" value=""></td>
    <td class="vend-info-header id">{{vendorid}}</td>
    <td class="vend-info-header name">{{vendorname}}</td>
    <td class="vend-info-header address">{{vendoraddress}}</td>
    <td class="vend-info-header phone">{{vendorphone}}</td>
    <td class="vend-info-header email">{{vendoremail}}</td>
    <td class="book-info-header type">{{booktype}}</td>
    <td class="vend-info-row control">
        <button type="button" name="change-info-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button type="button" name="remove-info-button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </td>
</tr>
