<tr>
    <td class="store-info-row select"><input type="checkbox" name="" value=""></td>
    <td class="book-info-row id">{{bookid}}</td>
    <td class="book-info-row name">{{bookname}}</td>
    <td class="book-info-row type">{{booktype}}</td>
    <td class="store-info-row quantity">{{bookquantity}}</td>
    <td class="store-info-row id">{{repoid}}</td>
    <td class="store-info-row floor">{{repoaddress}}</td>
    <td class="store-info-row guard">{{repoguard}}</td>
    <td class="store-info-row control">
        <button type="button" name="change-info-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button type="button" name="remove-info-button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </td>
</tr>
