<tr>
    <td class="store-info-row select">
        {{#if checked}}
            <input type="checkbox" name="" value="" checked>
        {{else}}
            <input type="checkbox" name="" value="">
        {{/if}}
    </td>
    <td class="book-info-row id">{{bookid}}</td>
    <td class="book-info-row name">{{bookname}}</td>
    <td class="book-info-row type">{{booktype}}</td>
    <td class="store-info-row quantity">{{bookquantity}}</td>
    <td class="store-info-row id">{{repoid}}</td>
    <td class="store-info-row address">{{repoaddress}}</td>
    <td class="store-info-row purpose">{{repopurpose}}</td>
    <td class="store-info-row guard">{{repoguard}}</td>
    <td class="vend-info-row guard">{{vendid}}</td>
    <td class="store-info-row control">
        <button type="button" name="change-info-button" class="staff-store-edit-button" onclick="todoStoreModifyEdit(this)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button type="button" name="remove-info-button" class="staff-store-delete-button" onclick="todoDeleteSingleStoreInfo(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </td>
</tr>
