<tr>
    <td class="book-info-row id">{{bookid}}</td>
    <td class="book-info-row name">{{bookname}}</td>
    <td class="book-info-row type">{{booktype}}</td>
    <td class="store-info-row quantity">{{bookquantity}}</td>
    <td class="store-info-row id">{{repoid}}</td>
    <td class="store-info-row floor">{{repoaddress}}</td>
    <td class="store-info-row guard">{{repoguard}}</td>
</tr>
