<tr>
    <td class="book-info-row select">
        {{#if checked}}
            <input type="checkbox" name="" value="" checked>
        {{else}}
            <input type="checkbox" name="" value="">
        {{/if}}
    </td>
    <td class="book-info-row id">{{bookid}}</td>
    <td class="book-info-row name">{{bookname}}</td>
    <td class="book-info-row type">{{booktype}}</td>
    <td class="book-info-row author">{{bookauthor}}</td>
    <td class="book-info-row edition">{{bookedition}}</td>
    <td class="book-info-row date">{{bookdate}}</td>
    <td class="book-info-row press">{{bookpress}}</td>
    <td class="book-info-row isbn">{{bookisbn}}</td>
    <td class="book-info-row price">{{bookprice}}</td>
    <td class="book-info-row qunaity">{{bookquantity}}</td>
    <td class="book-info-row control">
        <button type="button" name="book-edit-button" class="staff-book-edit-button" onclick="todoBookModifyEdit(this)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button type="button" name="book-delete-button" class="staff-book-delete-button" onclick="todoDeleteSingleBookInfo(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </td>
</tr>
