<tr>
    <td class="book-info-row select"><input type="checkbox" name="" value=""></td>
    <td class="book-info-row id">{{bookid}}</td>
    <td class="book-info-row name">{{bookname}}</td>
    <td class="book-info-row type">{{booktype}}</td>
    <td class="book-info-row author">{{bookauthor}}</td>
    <td class="book-info-row edition">{{bookedition}}</td>
    <td class="book-info-row date">{{bookdate}}</td>
    <td class="book-info-row press">{{bookpress}}</td>
    <td class="book-info-row isbn">{{bookisbn}}</td>
    <td class="book-info-row price">{{bookprice}}</td>
    <td class="book-info-row control">
        <button type="button" name="change-info-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button type="button" name="remove-info-button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </td>
</tr>
